<h1>Stories</h1>
<div class="row">
    {{#if displayInfo}}
    {{#if foundUser.google}}
    <div class="col s12">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">
                    {{foundUser.google.firstName}} {{foundUser.google.lastName}}
                </span>
                <img src="{{foundUser.google.image}}?sz=300" class="circle responsive-img">
            </div>
        </div>
    </div>
    {{/if}}
    {{/if}}
    {{#each stories}}

    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-image">
                {{#if user}}
                {{{editIcon user.google.id ../user.google.id id true}}}
                {{/if}}
            </div>

            <div class="card-content ">
                <h5>{{title}}</h5>
                <p class="story-text">{{stripTags (truncate body 100)}}</p>
            </div>
            <div class="chip">
                <img src="{{user.google.image}}">
                <a href="/stories/user/{{user.id}}">{{user.google.firstName}} {{user.google.lastName}}</a>
            </div>
            <div class="card-action">
                <a class="btn grey" href="/stories/show/{{id}}">Read More</a>
            </div>
        </div>



    </div>


    {{else}}
    <p>No stories found</p>
    {{/each}}
</div>

<script>
    window.onscroll = function(ev) {
    if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight - 10) {
        
    }
};
</script>