<h1>Stories</h1>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-image">

                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="fa fa-pencil"></i></a>
            </div>
            <div class="card-content ">
                <h5>{{title}}</h5>
                <p class="story-text">{{body}}</p>
            </div>
            <div class="chip">
                <img src="{{user.google.image}}">
                {{user.google.firstName}} {{user.google.lastName}}
            </div>
            <div class="card-action">
               
                <div class="btn grey" href="/stories/show/{{id}}">Read More</div>
           
            </div>
        </div>



    </div>


    {{else}}
    <p>No stories found</p>
    {{/each}}
</div>